<ul class="nav nav-pills flex-column">
    <li class="nav-item m-1">
        <a class="nav-link @CrudNavPages.IndexProductNavClass(ViewContext)" id="product" asp-page="./Product/Index">Products Management</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link @CrudNavPages.IndexMediaNavClass(ViewContext)" id="media" asp-page="./Media/Index">Media Management</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link @CrudNavPages.IndexOrdersNavClass(ViewContext)" id="orders" asp-page="./Order/Index">Orders Management</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link @CrudNavPages.IndexUsersNavClass(ViewContext)" id="users" asp-page="./User/Index">Users Management</a>
    </li>
    <li class="nav-item m-1">
        <a class="nav-link @CrudNavPages.IndexUsersNavClass(ViewContext)" id="roles" asp-page="./Roles/Index">Roles Management</a>
    </li>
</ul>