@page
@model NovaFinds.MVC.Areas.Admin.Pages.CRUD.Media.IndexModel

@{ ViewData["Title"] = "Media List"; }

<h1>@ViewData["Title"]</h1>

<p>
    <a class="btn btn-primary" asp-page="./Create">Create New</a>
</p>
<table class="table table-striped">
    <thead class="thead-dark">
    @if (Model.Image is { Count: > 0 }){
        <tr scope="row">
            <th scope="col">
                Product Id
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image![0].Description)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Image![0].Image)
            </th>
            <th scope="col"></th>
        </tr>
    }
    </thead>
    <tbody>
    @if (Model.Image is { Count: > 0 }){
        @foreach (var item in Model.Image){
            <tr scope="row">
                <td>
                    <a class="btn btn-primary" asp-controller="Product" asp-action="Show" asp-route-productId="@Html.DisplayTextFor(modelItem => item.ProductId)">@Html.DisplayFor(modelItem => item.ProductId)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <img class="img-md" src="@Html.DisplayFor(modelItem => item.Image)" style="height:80px; width:80px;" alt=""/>
                </td>
                <td>
                    <div class="btn-group" role="group">
                        <a class="btn btn-primary" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                        <a class="btn btn-outline-primary" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                        <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                    </div>
                </td>
            </tr>
        }
    }
    else{
        <tr>
            <td>
                No Media can be found!
            </td>
        </tr>
    }
    </tbody>
</table>
<div class="row mb-4 mt-3">
    <div class="col-md-12">
        @await Component.InvokeAsync("Pagination", new { paginator = ViewData["Pagination"], text = ViewData["PaginationText"] })
    </div>
</div>